
ul {
    margin: .2em;
}

main {
    padding-top: .3em;
    padding-bottom: .3em;
    margin: auto;
}

div {
    margin: .2em;
    padding: .3em;
    background-color: antiquewhite;
}

article {
    margin: .2em;
    padding: .3em;
}

main {
    margin: .2em;
    padding: .3em;
}