/* class -> .nameOfClass */
/* id -> #nameOfId */
/* Descendants -> parent  child    ancestor */
/* example:       div     article  p   */
/* example 2:     #nameOfParentID button */


.activity1 button {
    background-color: yellow;
}

.activity2 button {
    font-family: 'Courier New', Courier, monospace;
}

#unchanged {
    font-family:'Times New Roman', Times, serif
}

.activity3 h3 {
    text-align: center;
    text-decoration: underline double 10px;
    text-shadow: 5px  2px 6px green ;
}

.activity4 {
    z-index: 1;
}

#pikachu {
    z-index: 1;
    width: 10%;
    height: auto;
}

.activity5 .block {
    display: block;
}